/* Import google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* setting color variables */
:root {
  --primary-text: #ff8a00;
  --secondary-text: #ffffff;
  --primary-bg: #13071c;
  --secondary-bg: #1a0725;
}

* {
  transition: all 0.3s ease-in-out;
}

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secondary-bg);
  color: var(--primary-text);
}

/* styling for the nav header */

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
  align-items: center;
  height: 90px;
  background-color: var(--primary-bg);
  box-shadow: 1px 1px 10px var(--primary-bg);
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
}

.nav-links a {
  color: var(--primary-text);
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* styling for the footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  gap: 4rem;
  background-color: var(--primary-bg);
  position: fixed;
  bottom: 0;
  box-shadow: 1px 1px 10px var(--primary-bg);
}

footer > a > i {
  color: var(--primary-text);
  font-size: 1.5rem;
  cursor: pointer;
}

/* styling for the theme button */

#theme-button {
  color: var(--primary-text);
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 45px;
  top: calc(45px - 1.5rem / 2);
}

/* hover and click animations for anchors and icons */

.nav-links a:hover,
footer i:hover {
  scale: 1.1;
}

.nav-links a:active,
footer i:active {
  scale: 1;
}

/* Games Page Only CSS */
/* 
.text-content {
  position: absolute;
  top: 0;
  left: 2rem;
} */

/* main {
  color: #ffffff;
  text-shadow: 2px 2px 0 #000000;
  min-width: 100%;
  min-height: 100%;
} */

/* main img {
  width: 100%;
  height: auto;
} */

header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 1rem;
}

.a-link {
  text-decoration: none;
  color: var(--primary-text);
  /* transition: ease-in-out 250ms; */
}

.a-link:hover {
  transform: scale(1.1);
}

/* V3 Specifics */

main {
  margin-bottom: 30dvh;
}

.wrapper-all {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 27rem; */
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 1100px;
  flex-wrap: wrap;
  padding: 30px;

  
}

.card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: var(--secondary-text);
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.card:hover {
  height: 420px;

}

.imgBox {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  max-height: 18rem;
  border-radius: 4px;
}

.content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #ff8a00;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -20px;
  transition-delay: 0.3s;
}